{% extends 'layouts/app.html' %}
{% import 'macros/items.html' as items %}
{% import 'macros/form.html' as f with context %}
{% import 'macros/user.html' as account %}

{% block title %}Admin - Users / List{% endblock %}

{% block body %}
  {{ f.search('admin.users') }}

  {% if users.total == 0 %}
    <h3>No results found</h3>

    {% if request.args.get('q') %}
      <p>Try limiting or removing your search terms.</p>
    {% else %}
      <p>There are no users present,
         you should <a href="{{ url_for('user.signup') }}">sign up</a>.</p>
    {% endif %}
  {% else %}
    {% call f.form_tag('admin.users_bulk_delete') %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th>
              <label for="select_all"></label>
              <input id="select_all" name="select_all" type="checkbox">
            </th>
            <th class="col-header">
              {{ items.sort('created_on', 'Registered') }}
            </th>
            <th class="col-header">
              {{ items.sort('name') }}
            </th>
            <th class="col-header">
              {{ items.sort('email') }}
            </th>
            <th id="bulk_actions" colspan="4">
              <div class="form-inline">
                <span class="item-count mr-3" id="item-count"></span>
                <button type="submit"
                        class="btn btn-danger btn-sm">
                  Delete items
                </button>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
        {% for user in users.items %}
          <tr>
            <td>
              <label for="bulk_ids"></label>
              <input class="checkbox-item" id="bulk_ids" name="bulk_ids"
                     type="checkbox" value="{{ user.id }}">
            </td>
            <td>
              <time class="from-now"
                    data-datetime="{{ user.created_on }}">
                {{ user.created_on }}
              </time>
            </td>
            <td>
              <a href="{{ url_for('admin.users_edit', id=user.id) }}">
                <span class="mr-1 username">
                  {{ user.username }}
                </span>
              </a>
              {{ account.role_icon_for(user) }}
            </td>
            <td>
              <a href="{{ url_for('admin.users_edit', id=user.id) }}">
                <span class="email">{{ user.email }}</span>
              </a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% endcall %}

    {{ items.paginate(users) }}
  {% endif %}
{% endblock %}
