{% import 'macros/flash.html' as flash with context %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="{% block meta_description %}{% endblock %}">
    <meta name="csrf-token" content="{{ csrf_token() }}">

    <title>{% block title %}{% endblock %}</title>

    <link
      rel="stylesheet"
      href="{{ static_url_for('static', filename='css/app.css') }}">
    <script defer src="{{ url_for('static', filename='js/app.js') }}"></script>
  </head>
  <body>
    {% include 'layouts/header.html' with context %}
    <main class="container mb-5">
      {{ flash.render() }}
      {% block body %}{% endblock %}
    </main>

    <footer class="footer fixed-bottom text-center">
      <div class="container">
        <ul class="list-inline">
          <li class="list-inline-item text-muted">Todo app &copy; 2020</li>
        </ul>
      </div>
    </footer>
  </body>
</html>
