{% import 'macros/flash.html' as flash with context %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="{% block meta_description %}{% endblock %}">
    <meta name="csrf-token" content="{{ csrf_token() }}">

    <title>{% block title %}{% endblock %}</title>

    <link
      rel="stylesheet"
      href="{{ static_url_for('static', filename='css/app.css') }}">
    <script defer src="{{ url_for('static', filename='js/app.js') }}"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-5">
      <a class="navbar-brand" href="#">Todos</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar-collapse"
        aria-controls="navbar-collapse"
        aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

      <div id="navbar-collapse" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          {% if current_user.role == 'admin' %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('admin.users') }}">Users</a>
            </li>
          {% endif %}
          {% if current_user.is_authenticated %}
            <li class="nav-item dropdown dropdown-menu-left">
              <a class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
                Account
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{ url_for('user.settings') }}">Setting</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ url_for('user.logout') }}">Logout</a>
              </div>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('user.login') }}">Log in</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('user.signup') }}">Sign up</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <main class="container mb-5">
      {{ flash.render() }}
      {% block body %}{% endblock %}
    </main>

    <footer class="footer text-center">
      <div class="container">
        <ul class="list-inline">
          <li class="list-inline-item text-muted">Todo app &copy; 2020</li>
        </ul>
      </div>
    </footer>
  </body>
</html>
